<div class="row highlight-color">
  <div class="container">
    <div class="row py-100px align-items-center">

      <div class="col-sm order-sm-2 text-center">
        <img src="<%= asset_path('jho_small.svg') %>">
      </div>

      <div class="col-sm order-sm-3">
        <p class="discrete font-smaller float-sm-right mb-0">
          conçu de façon <img src="<%= asset_path('refer/jho-tagline.svg') %>" alt="juste &amp; honnête"> à Nantes
        </p>
      </div>

      <div class="col-sm order-sm-1">
        <p class="discrete font-smaller float-sm-left mb-0">
          &copy; jho. 2017. <a href="/mentions-legales">Mentions légales.</a> <a href="mailto:hello@jho.fr">Contact</a>
        </p>
      </div>

    </div>
  </div>
</div>
