<div class="row">
  <div class="container">
    <div class="row py-100px align-items-center">

      <div class="col-sm order-sm-2">
        <p class="discrete font-bigger mb-0">
          jho.
        </p>
      </div>

      <div class="col-sm order-sm-3">
        <p class="discrete font-small float-sm-right mb-0">
          conçu de façon juste & honnête à Nantes
        </p>
      </div>

      <div class="col-sm order-sm-1">
        <p class="discrete font-small float-sm-left mb-0">
          &copy; jho. 2017. Mentions légales
        </p>
      </div>

    </div>
  </div>
</div>
