<!-- Show only on medium size screens and up -->
<div class="row highlight d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2 class="text-center mt-5">
          Règle du jeu
        </h2>

        <div class="row mb-1 mt-5">
          <div class="col">
            <h4>Amies inscrites</h4>
          </div>
          <div class="col text-center"><h5>5</h5></div>
          <div class="col text-center"><h5>10</h5></div>
          <div class="col text-center"><h5>25</h5></div>
        </div>

        <div class="progress">
          <div class="progress-bar bg-progress" role="progressbar"
               style="width: <%= @progressPercent %>%"
               aria-valuenow="<%= @referralsCount %>"
               aria-valuemin="0"
               aria-valuemax="<%= @progressMax %>"></div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <h4>Cadeaux de jho</h4>
          </div>
          <div class="col text-center progress-description">
            3 euros<br>
            de remise sur votre<br>
            1ère commande
          </div>
          <div class="col text-center progress-description">
            1 boîte de produits<br>
            jho offerte
          </div>
          <div class="col text-center progress-description">
            2 boîtes gratuites<br>
            + un joli totebag
          </div>
        </div>

        <div class="text-center mt-4 mb-5">
          <% if @referralsCount == 0 %>
            <h3>Aucune amie ne s'est inscrite… pour l'instant&nbsp;!</h3>
          <% elsif @referralsCount == 1 %>
            <h3>Une amie s'est inscrite</h3>
          <% else %>
            <h3><%= @referralsCount %> amies se sont inscrites</h3>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
