<div class="hero">
  <img src="<%= asset_path("refer/jho-logo.svg") %>" class="logo"/>
</div>

<div class="contact-footer discrete">
  Pour nous contacter : <a href="mailto:hello@jho.fr">hello@jho.fr</a>
</div>