<div class="container-fluid highlight-color">
  <div class="row highlight logo">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <img src="<%= asset_path('jho_logo.svg') %>" class="mx-auto" id="logo">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">

      <div class="row">
        <div class="col">
          <h1 class="text-center">Mentions légales - Jho</h1>
          <p>
            La consultation du site Internet « www.jho.fr » est subordonnée à l’acceptation intégrale et au respect par les internautes, des conditions d’utilisation suivantes.<br>
            L’internaute s’engage d’ores et déjà à faire des informations contenues sur le Site un usage personnel et non commercial. En cas de non-respect des présentes dispositions par l’internaute, sa responsabilité pourrait se voir engagée.
          </p>
          <h2>Identification et publication</h2>

          <h3>Informations sur l’éditeur du site web</h3>
          <p>
            Société JHO.<br>
            Société par actions simplifiée<br>
            Capital social : 143,00 euros<br>
            Adresse : impasse des Enfants Nantais – 44 100 NANTES<br>
            Immatriculée au RCS de Nantes sous le numéro 833 542 160<br>
            SIRET : 833 542 160 00019<br>
            TVA Intracommunautaire : FR54833542160<br>
            APE : 4645Z<br>
            <br>
            Adresse électronique : hello@jho.fr<br>
          </p>

          <h3>
            Informations sur l’hébergeur
          </h3>
          <p>
            Clever Cloud, +33 (0)2 85 52 07 69
            <br><br>
            Le Site est la propriété exclusive de la société JHO..<br>
            Il a été conçu et réalisé par André Laszlo et Narjis Hachilif.
          </p>
          <h2>
            Contenu du site
          </h2>
          <p>
            Le Site est exploité par la société JHO..
          </p>
          <h2>
            Propriété intellectuelle
          </h2>
          <h3>
            Droits d'auteur
          </h3>
          <p>

            Le Site constitue une œuvre originale et la société
            JHO. est titulaire des droits d’auteur sur celle-ci, au regard des articles L111-1 et suivants du Code de la propriété intellectuelle.<br>

            Il est rappelé que toutes images, textes ou éléments graphiques contenus
            par le présent Site peuvent constituer des œuvres de
            l’esprit, bénéficiant ainsi de la protection au titre du
            droit d’auteur, selon les dispositions de ce même Code.<br>

            Toute représentation ou reproduction, totale ou partielle, permanente
            ou temporaire, sur un support informatique et/ou papier,
            et par quelque procédé que ce soit (notamment par voie de
            framing), de l’un ou l’autre des éléments du Site, sans
            l’accord préalable et exprès de la société JHO., est
            interdite et constitue un acte de contrefaçon, qui pourra
            entraîner des condamnations civiles et/ou pénales, selon
            les articles L331-1 et suivants et L335-2 et suivants du
            Code de la propriété intellectuelle, sous réserve des
            exceptions mentionnées à l’article L122-5 de ce même Code.
          </p>

          <h3>
            Droits des marques
          </h3>
          <p>
            La société est titulaire de la marque JHO. n°4 399 969. Les marques de
            la société JHO., de ses fournisseurs et de ses
            partenaires, ainsi que les logos figurant sur le Site,
            leur confèrent une exclusivité d’exploitation de
            ceux-ci. Toute reproduction totale ou partielle, voire
            imitation, de ces marques ou logos, effectuée à partir des
            éléments du Site, sans l'autorisation expresse de la
            société JHO., est donc prohibée, au sens des articles
            L.713-2 et L.713-3 du Code de la propriété intellectuelle.
          </p>

          <h3>
            Liens hypertextes
          </h3>
          <p>
            L’établissement de liens hypertextes vers le Site ou l’un
            de ses éléments nécessite une autorisation préalable et écrite de la société JHO.
          </p>

          <h2>
            Protections des données personnelles
          </h2>
          <p>
            L’internaute peut être amené à déposer certaines données personnelles
            (nom, prénom, adresse email, numéro de téléphone) en
            répondant aux formulaires qui lui sont proposés, notamment
            en vue de passer commande et de créer un compte client. La
            saisie de ces données est nécessaire au traitement de la
            demande de l’internaute par la société JHO., et permettra
            également à cette dernière de mener à bien ses opérations
            commerciales et promotionnelles (inscription à la
            newsletter).
          </p>
          <p>
            La société JHO. respecte les dispositions de la loi n°78-17 du 6 janvier
            1978 relative à l’informatique, aux fichiers et aux
            libertés modifiée en 2004 et du Règlement européen sur les
            données personnelles du 27 avril 2016 et s’engage à
            prendre toute précaution nécessaire pour préserver la
            sécurité des informations nominatives confiées. Aucune
            information à caractère personnel ne sera communiquée à
            des sociétés tierces sans l’accord préalable et éclairé de
            l’internaute.
          </p>
          <p>
            L’internaute peut à tout moment exercer son droit d’accès, de rectification,
            de suppression ou d’opposition concernant les informations
            qu’il fournit lors de son inscription ou ultérieurement,
            auprès de la société JHO., par courrier à l’adresse de la
            société mentionnée ci-dessus (rubrique Identification et
            Publication) ou par email, à l’adresse hello@jho.fr.
          </p>
          <p>
            Le traitement des informations des internautes a fait
            l'objet d'une déclaration auprès de la CNIL.
          </p>

          <h2>
            Cookies
          </h2>
          <p>
            Un cookie est un fichier texte déposé sur le disque dur de
            l’internaute par le serveur du site internet visité par
            lui. Un cookie ne permet cependant pas d’identifier
            l’internaute. Il crée simplement un numéro aléatoire qui
            enregistre des informations.<br>

            Le Site implémente des cookies afin de faciliter la
            navigation de l’internaute sur le Site. Ils sont
            strictement nécessaires pour passer commande. Ils sont
            conservés durant 730 jours.<br>

            Le Site implémente également des cookies de type google analystics et
            cloudflare security afin de sécuriser le Site et
            d’identifier les menaces.<br>

            Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur.
          </p>
          <p>
            Pour Mozilla Firefox :<br>
            1. Choisissez le menu « outil » puis « options »,<br>
            2. Cliquez sur l'icône « vie privée »,<br>
            3. Repérez le menu « cookie » et sélectionnez les options qui vous conviennent.
          </p>
          <p>
            Pour Microsoft Internet Explorer :<br>
            1. Choisissez le menu « outils » (ou « tools »), puis « options internet » (ou « internet options »),<br>
            2. Cliquez sur l'onglet « confidentialité » (ou « confidentiality »),<br>
            3. Sélectionnez le niveau souhaité à l'aide du curseur.<br>
          </p>
          <p>
            Pour Google Chrome :<br>
            1. Choisissez le menu « historique » puis « préférences » puis « vie privée »,<br>
            2. Choisissez le menu « outils » et sélectionnez « historique ».<br>
          </p>
          <p>
            Pour Safari :<br>
            1. Choisissez le menu « réglages généraux de Safari », puis « sécurité »,<br>
            2. Sélectionnez « refuser les cookies déposés ».<br>
          </p>

          <h2>
            Responsabilité
          </h2>
          <p>
            L’internaute est seul responsable de l’utilisation qu’il
            fait du contenu du Site. Sauf faute grave exclusive de la société JHO.,
            sa responsabilité ne peut être engagée pour des dommages
            directs et indirects liés à l’utilisation des informations
            produites sur le Site.
          </p>

          <h3>
            Fonctionnement du Site
          </h3>
          <p>
            La société JHO. décline toute responsabilité quant aux
            éventuels dysfonctionnements
            pouvant survenir sur le Site et entraîner une perte de
            données ou une indisponibilité de l’accès aux informations
            produites sur celui-ci.
          </p>

          <h3>
            Contenu du Site
          </h3>
          <p>
            Les éléments présentés sur le Site sont susceptibles de modification,
            sans préavis, et sont mis à la disposition des
            internautes, sans aucune garantie d’aucune sorte, expresse
            ou tacite.<br>

            La société JHO. ne peut garantir l’exhaustivité et la
            véracité des informations
            présentes sur le Site. De la même manière, elle ne peut
            garantir l’absence de modification par un tiers
            (intrusion, virus).
          </p>

          <h3>
            Présence de liens hypertextes
          </h3>
          <p>
            La société JHO. n'est en aucun cas responsable du contenu
            ainsi que des produits ou services proposés sur les sites
            internet auxquels le Site se trouverait lié par des liens
            hypertextes ou tout autre type de lien. La présence de
            liens hypertextes sur le Site, quelle que soit l’existence
            préalable ou non de l’accord de la société JHO., ne crée
            pas une solidarité de responsabilité entre celle-ci et les
            propriétaires des autres sites, quant au contenu des sites
            sur lesquels l’internaute est redirigé.
          </p>

          <h2>
            Droit applicable et compétence judiciaire
          </h2>
          <p>
            L’ensemble des informations diffusées sur le Site et
            l’utilisation qui en est faite sont soumis exclusivement
            au droit français. Seuls les tribunaux relevant du ressort
            de la Cour d’appel du siège social de la société JHO. sont
            compétents pour connaître des éventuels litiges liés à
            l’utilisation du Site hormis la compétence réservée aux
            actes de vente gérée par les Conditions générales de
            vente, le cas échéant.
          </p>

          <h2>
            Dotations
          </h2>
          <p>
            Des cadeaux sont offerts aux personnes ayant invité des
            amies qui se sont ensuite inscrites à leur tour sur
            jho.fr. La barre de cadeau est présente sur jho.fr et
            chaque personne pourra suivre en temps réel le nombre
            d’amies invitées inscrites sur jho.fr.
          </p>
          <p>
            Conditions de participation au jeu organisé sur jho.fr :<br>

            Un participant est défini comme une personne physique et
            morale unique, par conséquent, toute utilisation
            d’adresses de courrier électronique différentes pour un
            même participant sera considérée comme une tentative de
            fraude entraînant une disqualification de sa participation
            et d’une inéligibilité à devenir gagnant. Une
            participation sera également qualifiée comme invalide si
            elle fait l’objet d’utilisation d’une adresse électronique
            temporaire et anonyme :  youmail.com, youpymail.com,
            yopmail.com, brefmail.com, mailcatch.com, yopmail.fr,
            yopmail.net, cool.fr.nf<br>
            La participation est limitée à 5 par foyer.
          </p>

          <h3>
            5 amies invitées inscrites : 3€ de remise sur votre première commande
          </h3>
          <p>
            Remise de trois euros valable jusqu’au 31/05/2018 minuit
            sur www.jho.fr pour toute personne ayant 5 amies invitées
            inscrites sur jho.fr. Le code sera communiqué à la
            gagnante du code par email avant le 30/04/2018. Le code
            sera valable pour une première commande passée sur
            www.jho.fr par cette personne. Le code pour bénéficier de
            l’offre sera valable une seule fois par client. Dans le
            cadre d’un abonnement la remise ne s’appliquera qu’à la
            première commande et non aux suivantes. Les frais de port
            sont à la charge du client. Offre valable pour toute
            commande livrée en France métropolitaine + Corse. Pour
            bénéficier de l’offre, une fois votre panier constitué,
            entrez le code promo qui vous sera communiqué dans
            l’encadré « code promo » de la page panier.
          </p>

          <h3>
            10 amies invitées inscrites  : 1 boîte jho offerte
          </h3>
          <p>
            Une boîte offerte jusqu’au 31/05/2018 minuit sur
            www.jho.fr pour toute personne ayant 10 amies invitées
            inscrites sur jho.fr. La boîte offerte sera à choisir
            parmi les produits jho suivants : tampons sans applicateur
            normal, tampon sans applicateur super, tampon sans
            applicateur super+, serviettes hygiéniques jour,
            serviettes hygiéniques nuit et protège-slips. Le code pour
            bénéficier de l’offre sera communiqué à la gagnante du
            code par email avant le 30/04/2018. L’offre sera valable
            une seule fois par client. Dans le cadre d’un abonnement
            la remise ne s’appliquera qu’à la première commande et non
            aux suivantes. Les frais de port sont à la charge du
            client. Offre valable pour toute commande livrée en France
            métropolitaine + Corse. Pour bénéficier de l’offre, une
            fois votre panier constitué, entrez le code promo qui vous
            sera communiqué dans l’encadré « code promo » de la page
            panier.
          </p>

          <h3>
            25 amies invitées inscrites : 2 boîtes gratuites + 1 totebag
          </h3>
          <p>
            Deux boîtes offertes et un totebag offert jusqu’au
            31/05/2018 minuit sur www.jho.fr pour toute personne ayant
            25 amies invitées inscrites sur jho.fr. Les 2 boîtes
            offertes seront à choisir parmi les produits jho suivants
            : tampons sans applicateur normal, tampon sans applicateur
            super, tampon sans applicateur super+, serviettes
            hygiéniques jour, serviettes hygiéniques nuit et
            protège-slips. Le code pour bénéficier de l’offre sera
            communiqué à la gagnante du code par email avant le
            30/04/2018. L’offre sera valable une seule fois par
            client. Dans le cadre d’un abonnement la remise ne
            s’appliquera qu’à la première commande et non aux
            suivantes. Les frais de port sont à la charge du
            client. Offre valable pour toute commande livrée en France
            métropolitaine + Corse. Pour bénéficier de l’offre, une
            fois votre panier constitué, entrez le code promo qui vous
            sera communiqué dans l’encadré « code promo » de la page
            panier.
          </p>

          <h3>
            50 amies invitées inscrites : <span class="light">surprises !</span>
          </h3>

          <hr>

          <p>Version du 04.02.2018</p>
        </div>
      </div>
    </div>
  </div>
</div>
