<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <img src="<%= asset_path('refer/jho-logo.svg') %>" class="mx-auto" id="logo">
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-sm">
          <img src="<%= asset_path('refer/merci.png') %>" class="merci">
        </div>

        <div class="col-sm">
          <h1>
            Parles-en à tes amis
            et surveille la jauge à cadeaux
          </h1>
          <p class="font-line">
            Copie ce lien et partage-le
          </p>
          <div><%= root_url %>?ref=<%= @user.referral_code %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row highlight">
    <div class="container">
      <div class="row mb-5 p-5">
        <div class="col-sm">
          <h2>
            Règle du jeu
          </h2>
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
