/* Definitions */

$red: #de6565;
$bright-pink: #f5d4ce;
$foreground: #333e49;
//$foreground: #223C49;
$foreground-light: rgba($foreground, 0.5);
$medium-gray: #E1E9ED;
$light-gray: #eef3f6;
$light-blue: #e3edf1;
$green: #60BD7A;
$montserrat-font: Montserrat, sans-serif;
$cardo-font: Cardo, 'Times New Roman', serif;

/* General things */

.row.logo {
  height: 63px;
  margin-bottom: 100px;
  text-align: center;

  #logo {
    display: inline-block;
    margin-bottom: -63px;
  }

  #bookmark {
    background-image: image-url('home/bookmark.svg');
    height: 130px;
    width: 130px;
    margin-left: auto;
    margin-right: 0%;
    color: white;
    font-family: $montserrat-font;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3em;

    .icon {
      width: 36px;
      margin: 6px;
    }
  }
}

.highlight {
  background-color: white;
}

.highlight-dark {
  background-color: $foreground;
  color: white;
}

.highlight-color {
  background-color: $light-blue;
}

p {
  margin-bottom: 0px;

  font-family: $cardo-font;
  
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.038em;
  font-size: 20px;
  text-align: center;

  &.font-smaller {
    font-size: 16px;
  }

  &.font-small {
    font-size: 24px;
  }

  &.font-medium {
    font-size: 25px;
    letter-spacing: 2px;
  }

  &.font-cursive {
    font-style: italic;
  }

  &.font-big {
    font-size: 29px;
  }

  &.font-fine {
    font-family: $montserrat-font;
    font-size: 13px;
    letter-spacing: 1px;
  }

  &.font-bigger {
    font-size: 36px;
  }

}

.font-bold {
  font-weight: 800;
}

.font-italic {
  font-style: italic;
}

img.emoji {
  vertical-align: baseline;
  image-rendering: crisp-edges;
}

.py-100px {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.mb-100px {
  margin-bottom: 100px !important;
}

.mt-100px {
  margin-top: 100px !important;
}

.highlight-color {
  background-color: $light-blue;
}

.highlight-footer {
  background-color: $light-gray;
}

.alert {
  display: inline-block;
  .close {
    color: $foreground;
    text-shadow: none;
    opacity: 1;
  }
}

.alert-danger {
  color: $foreground;
  background-color: $bright-pink;
  border: none;
}

// Cookie consent bar
.cc-window {
  font-family: $montserrat-font;
  font-size: 14px;
  &.cc-floating {
    padding: 14px;
  }
  &.cc-banner {
    padding: 14px;
  }
}


/* Forms */

div.max-width-350 {
  max-width: 350px;
}

input {
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 21px !important;
  text-align: center;
  border-radius: 0px !important;

  border: 0px !important;

  &[type="email"] {
    color: $foreground-light !important;
    min-width: 200px;
  }

  &[type="submit"] {
    &:hover {
      background-color: $foreground;
    }
    font-weight: 800;
    color: white;
    font-size: 16px !important;
    text-transform: uppercase;
    background-color: $foreground;
    width: 230px;
    padding: 13px;
  }
}


/* Footer */

.discrete {
  color: $foreground-light;

  a {
    color: $foreground-light;
  }
}

/* Placeholder */

html.placeholder{
  height: 100%;

  body {
    background: $light-blue;
    height: 100%;
  }

  .hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        margin-left: 8px;  // Center horizontally visually
        margin-top: -10px; // Center vertically visually
        width: 250px;
        -webkit-animation: fadein 5s ease-in; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein 5s ease-in; /* Firefox < 16 */
            -ms-animation: fadein 5s ease-in; /* Internet Explorer */
             -o-animation: fadein 5s ease-in; /* Opera < 12.1 */
                animation: fadein 5s ease-in;
    }
  }

  .contact-footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 0.5em;
    font-family: $cardo-font;
    font-size: 14px;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Home */

html.home{

  // Overrides for small screens
  @media (max-width: 576px) {
    h1 {
      font-size: 48px !important;
    }
  }

  body {
    font-family: $montserrat-font;
    font-size: 13px;
    text-rendering: geometricPrecision;
    line-height: 1.5em;
    letter-spacing: 0.1em;

    background-color: $light-gray;
    color: $foreground;
  }

  h1, h2, h3 {
    font-family: $montserrat-font;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }

  h1 {
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 36px;
    letter-spacing: -0.02em;
  }

  h3 {
    font-weight: normal;
    font-size: 22px;
  }

  .signup-container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  form .container {
    input {
      height: 50px;
      &[type="submit"] {
        background-color: $red;
      }
    }
  }
  

  .hero {
    background-image: image-url('home/hero.png');
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;

    .play-button {
      cursor: pointer;
      margin: 7% auto 0 255px;
      padding-top: 44px;
    }

    @media (max-width: 991px) {
      .play-button {
        margin: 0 auto auto 10% !important;
      }
    }

    @media (max-width: 1199px) {
      .play-button {
        margin: 28% auto 0px 316px;
      }
    }
  }

  #value {
    max-width: 400px;
    margin: auto;
  }

  .row.values {
    .col-md {
      text-align: center;

      h2 {
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2.1px;

        margin-top: 1em;
        margin-bottom: 1em;
      }

      p {
        font-family: $montserrat-font;
        font-size: 13px;
        line-height: 1.5em;
        letter-spacing: 0.1em;
        text-align: justify;

        max-width: 270px;
        margin: auto;
      }
    }
  }

  #video-modal {
    background-color: black;
  }

  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

html.refer{
  body {
    background-color: $light-blue;
    color: $foreground;
    text-rendering: geometricPrecision;
  }

  .bg-progress {
    background-color: $green;
  }

  .progress {
    height: 11px;
    background-color: $medium-gray;
  }

  h1, h2, h3, h4 {
    font-family: $cardo-font;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
  }

  h1 {
    font-weight: normal;
    font-size: 31px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-weight: normal;
    line-height: 42px;
    font-size: 24px;
  }

  h4, h5, .progress-description {
    font-family: $montserrat-font;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .thanks {
    background-color: $bright-pink;
  }

  .merci-img {
    max-width: 100%;
  }

  .highlight {
    background-color: white;
  }

  .highlight-color {
    background-color: $bright-pink;
  }

  .social-links {
    background-color: $medium-gray;
  }

  .copy-link {
    display: inline-block;
    background: white;
    border-radius: 2px;
    padding: 10px;
    width: 270px;
    font-family: $montserrat-font;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    margin: 0px auto;
    color: $foreground-light;
    max-width: 100%;
  }

  .social {
    display: inline-block;

    a {
      text-decoration: none;
      letter-spacing: 0.2em;
      color: $foreground;
    }
  }

  .vertical-progress {
    .bar {
      width: 11px;
    }
    .highlight {
      flex: initial !important;
      padding: 0px;
      background-color: $medium-gray;
      &.color {
        background-color: $green;
      }
    }
    .col {
      flex: auto;
    }
  }

  div.font-big {
    font-family: $cardo-font;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-size: 31px;
  }

  .font-numbers {
    font-size: 24px;
  }

  .fb-share-button {
    height: 20px;
    line-height: 20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: top !important;
  }

  .twitter-share-button {
    border: 0;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    vertical-align: top !important;
  }
}

html.policy {
  body {
    background-color: $light-blue;
    color: $foreground;
    text-rendering: geometricPrecision;
    font-family: $cardo-font;
  }

  p {
    text-align: left;
    font-family: $cardo-font;
  }

  h1, h2, h3 {
    font-family: $montserrat-font;
    font-weight: 600;
  }

  h1 {
    text-transform: uppercase;
  }
}
